body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: hwb(0 82% 15%);
  color: #333;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}